<ion-header>
  <ion-toolbar>
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let o of orders">
    <ion-card>
      <ion-list>
      <ion-item>
        <ion-icon name="restaurant-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>Restaurant Name</h2>
          <p>{{o.address}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-card-content>
      <h3>Customer Name</h3>
      <h3>Customer Ph</h3>
      <div class="line">
        <h3>Ordered Id:</h3>
        <h3>{{o.o_total}}</h3>
      </div>
      <div class="line">
        <h3>1 Items</h3>
        <h3>{{o.o_status}}</h3>
      </div>
      <div class="line">
        <h3>Scheduled: time</h3>
        <h3>mode of payment</h3>
      </div>
      <h3>Delivery: time</h3>
      <div class="delivery">
        <h2 class="title">Delivery Boy Info</h2>
        <ion-list lines="none">
          <ion-item>
            <ion-img src="../../assets/icon/vj-yellow-64.png" slot="start"></ion-img>
            <ion-label>
              <h2>Nameeeeeeeeeeee</h2>
              <p>Mobile</p>
            </ion-label>
            <ion-button slot="end">Call</ion-button>
          </ion-item>
        </ion-list>
      </div>
      <div class="buttons">
        <ion-button class="accept">Accept</ion-button>
        <ion-button class="decline">Decline</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>