
ion-toolbar {
    --background: var(--primaryBgColor);
    --color: var(--primaryTextcolor);
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delivery{
    margin-top: 15px;
    ion-button{
        --background: var(--primaryBgColor);
        width: 35%;
    }
    ion-item::part(native){
        padding-left: 0px;
    }
    ion-img{
        margin-inline-end: 10px;
    }
    .title{
        font-weight: 500;
        font-size: 20px;
    }
   
}
.buttons,.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #000;
    padding-top: 15px;
    .accept{
        --background: #0ec223;
    }
    .decline{
        --background: #e62424;
    }
}
