ion-toolbar {
    --background: var(--primaryBgColor);
    --color: var(--primaryTextcolor);
    ion-icon{
        font-size: 25px;
    }
}
ion-label{
    text-align: center;
}
.name ion-label{
    text-align: left;
}
ion-card-content{
    padding: 0px;
}
ion-card-title{
    font-size: 16px;
}
ion-img{
    width: 64px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.transacList p{
    font-weight: bold;
}