ion-toolbar {
    --background: var(--primaryBgColor);
    --color: var(--primaryTextcolor);
    ion-icon{
        font-size: 25px;
        margin-right: 5px;
    }
}
ion-label{
    text-align: center;
}
.name ion-label{
    text-align: left;
}
ion-card-content{
    padding: 0px;
}
ion-card-title{
    font-size: 16px;
}
ion-img{
    width: 64px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.transacList p{
    font-weight: bold;
}
.filter ion-button{
    margin-right: 10px;
    display: block;
    width: 25%;
    --background: var(--primaryBgColor);
    height: 35px;
    margin-left: auto;
}
.filter1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.filter1 ion-button {
    width: 48%;
    height: 35px;
    --background: #323412
}