<ion-header>
  <ion-toolbar>
    <ion-title>
      Ellocart Support
    </ion-title>
    <ion-icon slot="end" (click)="logout()" name="log-out-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="true">
  <ion-card class="name">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>{{userData.username}}</h2>
            <p>{{userData.username}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" presentation="date" (ionChange)="selectDate($event)"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Today Transactions</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list class="transacList">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>Received Orders</h2>
                  <p>{{data.received_orders || 0}}</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>Pending Orders</h2>
                  <p>{{data.pending_orders || 0}}</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>Completed Orders</h2>
                  <p>{{data.completed_orders || 0}}</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>Cancel <br> Orders</h2>
                  <p>{{data.cancelled_orders || 0}}</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>
                  <h2>COD Amount</h2>
                  <p>{{ data?.cod_amount }}</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>
                  <h2>Online Amount</h2>
                  <p>{{ data?.online_amount }}</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>                
                <ion-label>
                  <h2>Total Orders</h2>
                  <p>{{ data?.total_orders}}</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Orders List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="filter">
        <ion-button (click)="filter()">Filter</ion-button>
      </div>
      <div *ngIf="filterStatus" class="filter1">
              <ion-button routerLink="/restaurants">Select by Restaurants</ion-button>
              <ion-button routerLink="/categories">Select by Category</ion-button>
      </div>
      <ion-list lines="none">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item routerLink="/orders/received">
                <ion-label class="ion-text-wrap">
                  <h2>Received Orders</h2>
                  <!-- <ion-icon name="cart-outline"></ion-icon> -->
                  <ion-img src="../../assets/icon/order-19-64.png"></ion-img>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item routerLink="/orders/pending">
                <ion-label class="ion-text-wrap">
                  <h2>Pending Orders</h2>
                  <!-- <ion-icon name="cart-outline"></ion-icon> -->
                  <ion-img src="../../assets/icon/pending-disposal-4-64.png"></ion-img>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item routerLink="/orders/completed">
                <ion-label class="ion-text-wrap">
                  <h2>Completed Orders</h2>
                  <!-- <ion-icon name="cart-outline"></ion-icon> -->
                  <ion-img src="../../assets/icon/order-success-64.png"></ion-img>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item routerLink="/orders/cancelled">
                <ion-label class="ion-text-wrap">
                  <h2>Cancelled Orders</h2>
                  <!-- <ion-icon name="cart-outline"></ion-icon> -->
                  <ion-img src="../../assets/icon/cancellation-of-order-8-64.png"></ion-img>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>