<ion-header>
  <ion-toolbar>
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" force-overscroll="true">
  <h3 class="title">seller Details</h3>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-img class="pimg" [src]="'https://eapis.sunraisedemos.com/'+orderData.rest_img_path" slot="start"></ion-img>
        <ion-label>
          <h2>{{orderData.rest_name}}</h2>
          <h3>{{orderData.address}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <h3 class="title">User Details</h3>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-img class="pimg" src="../../assets/icon/avatar.png" slot="start"></ion-img>
        <ion-label>
          <h2>{{orderData.user_name}}</h2>
          <h3>{{orderData.mobile}}</h3>
          
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="line">
            <h3>OrderId:{{orderData.id}}</h3>
            <h3>&#8377;{{orderData.o_total}}</h3>
          </div>
          <div class="line">
            <h3>Item:{{orderData.items}}</h3>
            <h3>Mode of Payment: {{orderData.trans_id?'Online':'COD'}}</h3>
          </div>
          <h3>Delivery:{{orderData.deliverytime}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="line1">
      <h3>Product: &#8377;{{orderData.subtotal}}</h3>
      <h3>Coupon: &#8377;{{orderData.cou_amt}}</h3>
      <h3>Delivery: &#8377;{{orderData.d_charge}}</h3>
    </div>
  </ion-card>
  <h3 class="title">Address Details</h3>
  <ion-card>
    <ion-card-content>
      <h2>{{orderData.user_name}}</h2>
      <h3>{{orderData.mobile}}</h3>
      <h3>{{orderData.address}}</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Payment Details</h3>
  <ion-card>
    <ion-card-content>
      <h3>Order Total Items:{{orderData.items}}</h3>
      <h3>Order Total:{{orderData.o_total}}</h3>
      <h3>Order Delivery:{{orderData.deliverytime}}</h3>
      <h3>Order Coupon:{{orderData.cou_amt}}</h3>
      <h3>Order Wallet:{{orderData.wall_amt}}</h3>
      <h3>Order Promo Wallet:???</h3>
      <h3>Order Tax:{{orderData.tax}}</h3>
      <h3>Orderc1(weather):???</h3>
      <h3>Orderc2(packing):???</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Timings</h3>
  <ion-card>
    <ion-card-content>
      <h3>Order Accept Time:{{orderData.odate}}</h3>
      <h3>Order Pickup Time:???</h3>
      <h3>Order Delivery Time:{{orderData.deliverytime}}</h3>
      <h3>Order Cancelled Time:???</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Commission</h3>
  <ion-card>
    <ion-card-content>
      <h3>Order Commission Total (20%):???</h3>
      <h3>Order Delivery Commission Total( &#8377;0):???</h3>
      <h3>Order Franchise Commission Total( &#8377;0):???</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Delivery Information</h3>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-img *ngIf="orderData.rider_name; else elseBlock" class="pimg" slot="start" [src]="'https://eapis.sunraisedemos.com/'+orderData.rider_img_path"></ion-img> 
        <ng-template #elseBlock>
          <ion-img class='pimg' src="../../assets/icon/avatar.png" slot="start"></ion-img>
        </ng-template>
        <ion-label>
          <h2>{{orderData.rider_name || 'Not Assigned'}}</h2>
          <h3>{{orderData.rider_mobile}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <h3 class="title">Products</h3>
  <ion-card>
    <ion-button *ngIf="status==='pending'" id="open-modal" (click)="editProducts(orderData.rest_id)" class="editbtn">Edit</ion-button>
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Edit Items</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm(orderData.rest_id,orderData.id)" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-searchbar placeholder="Search Products" (ionChange)="searchProduct($event)"></ion-searchbar>
          <ion-item *ngFor="let p of products; let i=index;">
            <ion-img class="pimg" [src]="'https://eapis.sunraisedemos.com/'+p.item_img" alt="img" slot="start"></ion-img>
            <ion-label>
              <div class="product">
                <h3>{{p.title}}</h3>
                <ion-img *ngIf="p.is_veg === '0'" src="../../assets/icon/nonveg.png"></ion-img>
                <ion-img *ngIf="p.is_veg === '1'" src="../../assets/icon/veg.png"></ion-img>
              </div>
              <div class="product">
                <div class="itemsquantity">
                  <ion-button (click)="itemDecrease(i)">-</ion-button>
                  <p>
                    {{p.pquantity}}
                  </p>
                  <ion-button (click)="itemIncrease(i)">+</ion-button>
                </div>
                <p>&#8377;{{p.price}}</p>
                <ion-icon (click)="removeProduct(i)" name="trash-outline"></ion-icon>
              </div>
            </ion-label>
          </ion-item>

          <!-- Add new Products -->
          <h2>Add New Products</h2>
          <ion-list *ngFor="let np of newProducts; let mi=index">
            <h3>{{np.title}}</h3>
            <ion-item *ngFor="let p of np.Menuitem_Data; let si=index;">
              <ion-img class="pimg" [src]="'https://eapis.sunraisedemos.com/'+p.item_img" alt="img" slot="start"></ion-img>
              <ion-label>
                <div class="product">
                  <h3>{{p.title}}</h3>
                  <ion-img *ngIf="p.is_veg === '0'" src="../../assets/icon/nonveg.png"></ion-img>
                  <ion-img *ngIf="p.is_veg === '1'" src="../../assets/icon/veg.png"></ion-img>
                </div>
                <div class="product">
                  <!-- <p>{{p.pquantity}} Items</p> -->
                  <p>&#8377;{{p.price}}</p>
                  <ion-icon (click)="addProduct(p,mi,si)" name="add-circle-outline"></ion-icon>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
          </ion-content>
      </ng-template>
    </ion-modal>
    <ion-list>
      <ion-item *ngFor="let p of products; let i=index;">
        <ion-img class="pimg" [src]="'https://eapis.sunraisedemos.com/'+p.item_img" alt="img" slot="start"></ion-img>
        <ion-label>
          <div class="product">
            <h3>{{p.title}}</h3>
            <ion-img *ngIf="p.is_veg === '0'" src="../../assets/icon/nonveg.png"></ion-img>
            <ion-img *ngIf="p.is_veg === '1'" src="../../assets/icon/veg.png"></ion-img>
          </div>
          <div class="product">
            <p>{{p.pquantity}} Items</p>
            <p>&#8377;{{p.price}}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>