<ion-header>
  <ion-toolbar>
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h3 class="title">seller Details</h3>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-img src="../../assets/icon/vj-yellow-64.png" slot="start"></ion-img>
        <ion-label>
          <h2>Restaurant Name</h2>
          <h3>phone</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <h3 class="title">User Details</h3>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-img src="../../assets/icon/vj-yellow-64.png" slot="start"></ion-img>
        <ion-label>
          <h2>User Name</h2>
          <h3>phone</h3>
          <h3>Price</h3>
          <h3>Delivery:</h3>
          <h3>OrderId:</h3>
          <h3>Item:</h3>
          <h3>Mode of Payment</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="line">
      <h3>Product: &#8377;200</h3>
      <h3>Coupon: &#8377;0</h3>
      <h3>Delivery: &#8377;20</h3>
    </div>
  </ion-card>
  <h3 class="title">Address Details</h3>
  <ion-card>
    <ion-card-content>
      <h3>User Name</h3>
      <h3>User Phone</h3>
      <h3>User Address</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Payment Details</h3>
  <ion-card>
    <ion-card-content>
      <h3>Order Total Items:</h3>
      <h3>Order Total:</h3>
      <h3>Order Delivery:</h3>
      <h3>Order Coupon:</h3>
      <h3>Order Wallet:</h3>
      <h3>Order Promo Wallet:</h3>
      <h3>Order Tax:</h3>
      <h3>Orderc1(weather):</h3>
      <h3>Orderc2(packing):</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Timings</h3>
  <ion-card>
    <ion-card-content>
      <h3>Order Accept Time:</h3>
      <h3>Order Pickup Time:</h3>
      <h3>Order Delivery Time:</h3>
      <h3>Order Cancelled Time:</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Commission</h3>
  <ion-card>
    <ion-card-content>
      <h3>Order Commission Total (20%):</h3>
      <h3>Order Delivery Commission Total( &#8377;0):</h3>
      <h3>Order Franchise Commission Total( &#8377;0):</h3>
    </ion-card-content>
  </ion-card>
  <h3 class="title">Delivery Information</h3>
  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-img src="../../assets/icon/vj-yellow-64.png" slot="start"></ion-img>
        <ion-label>
          <h2>Delivery Boy Name</h2>
          <h3>phone</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <h3 class="title">Products</h3>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-img src="../../assets/icon/vj-yellow-64.png" slot="start"></ion-img>
        <ion-label>
          <h3>Product Name</h3>
          <div class="product">
            <p>1 Item</p>
            <p>price</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>